/* Responsive Styles */
@media screen and (max-width: 1024px) {
  form {
    display: flex;
    flex-direction: column;
  }

  #user_product_url {
    flex: 2;
  }

  #user_product_title,
  #user_price {
    flex: 1;
  }
}

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 1.5rem;
  }

  header p {
    font-size: 0.9rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  input[type="url"],
  input[type="text"] {
    width: 90%;
    font-size: 0.9rem;
    text-align: center;
    padding: 6px;
  }

  button {
    width: 100%;
    font-size: 0.85rem;
    padding: 6px 8px;
  }

  main h2 {
    font-size: 1.25rem;
  }

  table {
    display: block;
    overflow-x: auto;
    width: 100%;
    margin-bottom: 20px;
    border: none;
  }

  th,
  td {
    white-space: nowrap;
    font-size: 0.85rem;
    padding: 8px;
  }

  td:nth-child(3) {
    word-wrap: break-word;
  }

  .pagination {
    flex-wrap: wrap;
    gap: 5px;
  }

  .pagination a {
    padding: 5px 10px;
    font-size: 0.9rem;
  }

  .logout-link {
    font-size: 1rem;
    bottom: 10px;
  }

  .no-products-message {
    font-size: 1.1rem;
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 1.2rem;
  }

  table {
    display: block;
    overflow-x: auto;
    width: 100%;
    border: none;
  }

  th,
  td {
    font-size: 0.75rem;
    padding: 6px;
  }

  .form-inline-container {
    display: block;
    text-align: center;
  }

  input[type="url"],
  input[type="text"] {
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
  }

  form[action="delete_product.php"] button i,
  .fa-link {
    font-size: 1rem;
  }

  .pagination a {
    padding: 5px 8px;
    font-size: 0.8rem;
  }

  .logout-link {
    font-size: 0.9rem;
  }

  #price-info {
    font-size: 0.6rem;
  }
}
